In [1]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("insurance_data.csv")
df.head()

   age  bought_insurance
0   22                 0
1   25                 0
2   47                 1
3   52                 0
4   46                 1

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
X_train, X_test, y_train, y_test = train_test_split(df[['age']],df.bought_insurance,train_size=0.8)

## 1Linear Regression

In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [ ]:
reg = linear_model.LinearRegression()
reg.fit(X_train, y_train)

### multi variate

In [ ]:
# reg = linear_model.LinearRegression()
# reg.fit(d[['experience','test_score(out of 10)','interview_score(out of 10)']],d['salary($)'])

#### one-hot-encoding(can be used any where)

In [ ]:
# dummies = pd.get_dummies(df['Car Model'])
# dummies

In [ ]:
# merged = pd.concat([df,dummies],axis='columns')
# merged

In [ ]:
# X = final.drop('Sell Price($)',axis='columns')
# X

In [ ]:
# y = final['Sell Price($)']
# y

## 2LogisticRegression

In [5]:
from sklearn.linear_model import LogisticRegression

In [6]:
model = LogisticRegression()
model.fit(X_train, y_train)
#

LogisticRegression()

In [ ]:
### multi variate

In [ ]:
# iris.data[80]
# array([5.5, 2.4, 3.8, 1.1])

# iris.target[80]
# 1

# iris.target_names[1]
# 'versicolor'

# model.predict([iris.data[80]])
# array([1])

## 3Decisiontree

In [ ]:
# inputs = df.drop('salary_more_then_100k',axis='columns')
# target = df['salary_more_then_100k']

# from sklearn.preprocessing import LabelEncoder
# le_company = LabelEncoder()
# le_job = LabelEncoder()
# le_degree = LabelEncoder()

# inputs['company_n'] = le_company.fit_transform(inputs['company'])
# inputs['job_n'] = le_job.fit_transform(inputs['job'])
# inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])
# inputs
(drop old colum)